<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StoreProject</title>
    @Html.Partial("_CSS")
</head>
<body>
    @Html.Partial("_Header")
    <section class="wrapper">
        <div class="slider ">
            <div class="container">
            <div class="col-sm-3">
                <nav class="nav-sidebar">
                   
                </nav>
            </div>
        </div>
        </div>
        @RenderBody()
    </section>
    <div class="clearfix"></div>
    @Html.Partial("_Scripts")
    @RenderSection("scripts", required: false)

    @Html.Partial("_Footer")

  
</body>
</html>
